$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

body {
  background-color: whitesmoke;
  //background-repeat: repeat;
}

.top-section {
 padding: 0 5% 0 5%; 
}

.table-container {
  padding: 2% 5%;
  background-color: whitesmoke;
  //background-image: url("/assets/images/balloons.jpeg");
  background-size: 100% 100%; 
  //overflow-x: scroll;
}

.suggest-blog {
  padding: 1% 5%; 
}

th {
  background-color:cornsilk;
  color: black;
}

td {
  background-color: floralwhite;
  color: black;
}

button {
  margin: 5px;
}

table {
  margin: 5px; 
}

table td {
  text-align: center;
}

.add-blog {
  color: black;
}

.text-left {
  text-align: left;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.sortable-column:hover {
  background-color:antiquewhite;
}

.glyphicon-thumbs-up:hover {
  color: dodgerblue;
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector