$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */


.headline {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

.homepage-row span {
  font-size: 50px;
}

.homepage-row .col-md-4 {
  padding: 30px;
  height: 220px;
  background-color: #39add1;
  background-color: rgb(0,102,102);
  color: white;
  border-width: 5px;
  border-color: whitesmoke;
  border-style: solid;
}


.homepage-row h2 {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

.homepage-icon {
  display:block;
  text-align:center
}

.col-md-4 li {
  list-style-type: none; 
}

//Navbar

.navbar-brand {
  font-size: 1.8em;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

ul.nav.navbar-nav {
  padding: 5px 0 0 0;
}
// align nav menu items with logo

body {
  background-color: whitesmoke;
  //background-repeat: repeat;
}

.top-section {
 padding: 0 5% 0 5%; 
}

.table-container {
  padding: 2% 5%;
  background-color: whitesmoke;
  //background-image: url("/assets/images/balloons.jpeg");
  background-size: 100% 100%; 
  //overflow-x: scroll;
}

.suggest-blog {
  padding: 1% 5%; 
}

h1 {
  font-size: 30px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

th {
  background-color:cornsilk;
  color: black;
}

td {
  background-color: floralwhite;
  color: black;
}

button {
  margin: 5px;
}

table {
  margin: 5px; 
}

table td {
  text-align: center;
}

.add-blog {
  color: black;
}

.text-left {
  text-align: left;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.sortable-column:hover {
  background-color:antiquewhite;
}

.glyphicon-thumbs-up:hover {
  color: dodgerblue;
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector