<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container"> <!-- ng-controller="FeedCtrl"-->
  <div class="row">
    <div class="col-lg-12">
    <a href="">Log In To Vote</a><br> 
    <a href="">Log Out</a>
    <p>Hello {{ userName }}.</p>
    <a href="">View My Favorite Blogs</a>
    <h1>Top Programming Blogs</h1>
    <p>Top Programming Blogs ranks the top blogs in the programming field from votes by the community.</p> 
    
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Number</th>
        <th width="15%">Blog Title</th>
        <th><span class="glyphicon glyphicon-sort"></span> Votes</th>
        <th><span class="glyphicon glyphicon-sort"></span> Linking Sites</th>
        <th><span class="glyphicon glyphicon-sort"></span> Page Authority</th>
        <th><span class="glyphicon glyphicon-sort"></span> Moz Rank</th>
        <th>Twitter Name</th>
        <th><span class="glyphicon glyphicon-sort"></span> Followers</th>
        <th>Lastest Article</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="blog in blogs">
        <td>{{$index+1}}</td>
        <td><a href="{{ blog.url }}">{{ blog.name }}</a></td>
        <td><span class="glyphicon glyphicon-thumbs-up" data-ng-click="addVote($index)"></span> {{ blog.votes.length }}</td>
        <td>{{ blog.linkingsites }}</td>
        <td>{{ blog.mozrank }}</td>
        <td>{{ blog.pageauthority }}</td>
        <td><a href="{{ blog.twitterUrl }}">{{ blog.twitterName }}</a></td>
        <td>{{ blog.twitterFollowers }}</td>
        <td ng-init="showRss($index)"><a href="{{currentRss[$index].link}}">{{ currentRss[$index].title }}</a> <!-- {{blog.rssFeed}} --> </td>
      </tr>
    </tbody>
    </table>
    
    <form>
      <span>Title: </span> <input type="text" ng-model="newContent" /></input>
      <span>URL: </span> <input type="text" ng-model="newUrl" /></input>
      <span>Twitter: </span> <input type="text" ng-model="newTwitter" /></input>
      <span>Twitter URL: </span> <input type="text" ng-model="newTwitUrl" /></input>
      <span>RSS Feed: </span> <input type="text" ng-model="newRss" /></input>
      <button type="submit" data-ng-click="addBlog()">Add Blog</button>
    </form>
      <p>{{ newContent }}</p>  
      
    <p><span class="glyphicon glyphicon-plus-sign"></span> Suggest a Blog </p>
    <p>Twitter Followers = {{followers}}</p>
    <!-- <div id="feed">Google Feed</div> -->
    
    <!--
    <ul>
      <li ng-repeat="x in names">
        {{ x.Name + ', ' + x.Country }}
      </li>
    </ul>
    
    <ul>
      <li ng-repeat="followers in twitterFollowers">
        {{ followers.followers_count }}
      </li>
    </ul>
  
    <ul>
      <li ng-repeat="racers in racerNames">
        {{ racers.Driver.givenName }}
      </li>
    </ul>
    -->
    
    <!-- Twitter $resource example -->
    <input type="text" ng-model="searchTerm" placeholder="Search term">
    <p>{{searchTerm}}</p>
    <button ng-click="search()">Search</button>
    <ul ng-repeat="tweet in searchResult.results">
      <li>{{tweet.text}}</li>
    </ul>




    <ul>
      <li ng-repeat="data in siteData">
        {{ data.uu }} 
        {{ data.umrp }}
        {{ data.upa }}
      </li>
      <li>MozData goes here</li>
    </ul>

    <p>{{ mozData.umrp }} </p> 


    
    
    

    <div ng-repeat="rss in myRss" > 
    <h5><a href="{{rss.link}}">{{rss.title}}</a></h5>
 <p class="text-left">{{rss.contentSnippet}}</p>
 <div class="line line-lg b-b b-light"></div>
 <div class="text-muted">
  <i class="fa fa-clock-o text-muted"></i>
  <span class="small">{{rss.publishedDate}}</span>
      </div>
    </div>
    


    </div>
  </div>
</div>

<!--
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, Charles</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

-->

<footer class="footer">
  
  <!-- <div class="container"> 
   
    <div ng-repeat="feed in feeds">
	<h2><a href="{{feed.link}}" target="_blank">{{feed.title}}</a></h2>
	<p><span ng-repeat="item in feed.entries">
		<a href="{{item.link}}" target="_blank">{{item.title}}</a> (<span>{{item.publishedDate | date:'d-MM-yyyy HH:mm'}}</span>)<br />
	</span></p>
</div>
   -->
    <!--
    <div ng-repeat="feed in feeds" > 
    <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>
 <p class="text-left">{{feed.contentSnippet}}</p>
 <div class="line line-lg b-b b-light"></div>
 <div class="text-muted">
  <i class="fa fa-clock-o text-muted"></i>
  <span class="small">{{feed.publishedDate}}</span>
      </div>
    </div>
    -->
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
